<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.benbird.bencenter.mapper.SysMenuMapper">
    <!-- 用户的返回结果 -->
    <resultMap type="com.benbird.bencenter.models.DO.SysMenuDO" id="UserResultMap">
        <id     column="ID"             property="id"/>
        <result column="MENU_NAME"      property="menuName"/>
        <result column="MENU_URL"       property="path"/>
        <result column="MENU_TYPE"      property="menuType"/>
        <result column="PARENT_MENU_ID" property="parentMenuId"/>
        <result column="STATUS"         property="status"/>
        <result column="HIDDEN"         property="hidden"/>
        <result column="META"           property="meta"/>
        <result column="CREATED_AT"     property="createdAt"/>
        <result column="CREATED_BY"     property="createdBy"/>
        <result column="UPDATED_AT"     property="updatedAt"/>
        <result column="UPDATED_BY"     property="updatedBy"/>
        <result column="USABLE_FLAG"    property="updatedBy"/>
        <collection property="children" ofType="com.benbird.bencenter.models.DO.SysMenuDO"
                    column="{userId=userId,id=id}"
                    select="selectUserChildrenMenu"/>
    </resultMap>

    <!-- 所有菜单的返回结果 -->
    <resultMap type="com.benbird.bencenter.models.DO.SysMenuDO" id="BaseResultMap">
        <id     column="ID"             property="id"/>
        <result column="MENU_NAME"      property="menuName"/>
        <result column="MENU_URL"       property="path"/>
        <result column="MENU_TYPE"      property="menuType"/>
        <result column="PARENT_MENU_ID" property="parentMenuId"/>
        <result column="STATUS"         property="status"/>
        <result column="HIDDEN"         property="hidden"/>
        <result column="META"           property="meta"/>
        <result column="CREATED_AT"     property="createdAt"/>
        <result column="CREATED_BY"     property="createdBy"/>
        <result column="UPDATED_AT"     property="updatedAt"/>
        <result column="UPDATED_BY"     property="updatedBy"/>
        <result column="USABLE_FLAG"    property="updatedBy"/>
        <collection property="children" ofType="com.benbird.bencenter.models.DO.SysMenuDO"
                    column="{id=id}"
                    select="selectChildrenMenu"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        MENU_NAME,
        MENU_URL,
        MENU_TYPE,
        PARENT_MENU_ID,
        STATUS,
        HIDDEN,
        META,
        CREATED_AT,
        CREATED_BY,
        UPDATED_AT,
        UPDATED_BY,
        USABLE_FLAG
    </sql>

    <sql id="Base_Menu_List">
        SM.ID id,
        SM.MENU_NAME menuName,
        SM.MENU_URL menuUrl,
        SM.MENU_TYPE menuType,
        SM.PARENT_MENU_ID parentMenuId,
        SM.STATUS status,
        SM.HIDDEN hidden,
        SM.META meta
    </sql>

    <!-- 查询用户顶层路径 -->
    <select id="selectUserMenu" resultMap="UserResultMap">
        SELECT
            <include refid="Base_Menu_List"/>,SP.USER_ID userId
        FROM
            SYS_MENU SM
        INNER JOIN SYS_PERMISSION SP
        ON SM.ID = SP.MENU_ID
        AND SP.USABLE_FLAG = 'USABLE'
        AND SP.USER_ID = #{userId}
        WHERE SM.USABLE_FLAG = 'USABLE'
        AND SM.PARENT_MENU_ID IN (-1,0)
    </select>

    <!-- 查询子菜单权限 -->
    <select id="selectUserChildrenMenu" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Menu_List"/>,SP.USER_ID userId
        FROM
        SYS_MENU SM
        INNER JOIN SYS_PERMISSION SP
        ON SM.ID = SP.MENU_ID
        AND SP.USABLE_FLAG = 'USABLE'
        AND SP.USER_ID = #{userId}
        WHERE SM.USABLE_FLAG = 'USABLE'
        AND SM.PARENT_MENU_ID =#{id}
    </select>

    <select id="selectAllMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            SYS_MENU
        WHERE USABLE_FLAG = 'USABLE'
        AND PARENT_MENU_ID IN (-1,0)
    </select>

    <select id="selectChildrenMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        SYS_MENU
        WHERE USABLE_FLAG = 'USABLE'
        AND PARENT_MENU_ID =#{id}
    </select>


</mapper>